.wrapper {
  width: 768px;
  margin: 0 auto;
}
#landing {
  text-align: center;
}

#username {
  font-size: 1.2em;
  width: 20em;
  padding: 10px;
  outline: none;
  border: 5px solid #556;
  .rounded(5px);
  margin: 20px 0;
  color: #223;
  text-align: center;
  background: #889;
  .transition(background 100ms);
  &:focus {
    background: #aab;
  }
}

#submit-username {
  background: none;
  outline: none;
  border: none;
  font-size: 2.5em;
  color: #556;
  position: absolute;
  margin-top: 15px;
}

.masthead {
  .transition(margin-top 200ms);
  margin-top: 20%;
  h1 {
    text-align: center;
    .transition(font-size 200ms);
    font-size: 4em;
    color: #aab;
  }
}
#lobby .masthead, #game .masthead {
  margin-top: 10px;
  h1 {
    font-size: 2em;
  }
}

// body.webrtc-chrome .firefox-logo, body.webrtc-firefox .chrome-logo {
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
//   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.0\'/></filter></svg>#grayscale");
//   opacity: 0.4!important;
// }

#lobby {
  .chrome-logo { background: url(/static/chrome.png); }
  .firefox-logo { background: url(/static/firefox.png); }
  .chrome-logo, .firefox-logo {
    background-size: 24px;
    display: inline-block;
    height: 23px;
    width: 24px;
    opacity: 0.7;
    margin-right: 4px;
    vertical-align: text-bottom;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background: #2a2a3a;
    li {
      padding: 10px 10px;
    }
    &.peers li {
      &:nth-child(even) {
        background: #202030;
      }
      &:first-child {
        background: #556;
        color: #223;
      }
    }
    .smaller {
      font-size: 18px;
    }
    a {
      &:hover {
        color: #eef;
      }
    }
  }
}

#invites {
  margin-top: 20px;
  background: #2a2a3a;
  ul {
    font-size: 18px;
    li {
      padding: 5px;
    }
    a {
      font-size: 14px;
    }
    .username {
      font-weight: bold;
      color: #eef;
    }
  }
}

#flash {
  position: fixed;
  width: 100%;

  height: 70px;
  line-height: 70px;
  bottom: -70px;

  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;

  font-size: 150%;

  span {
    position: relative;
  }
}

#game {
  text-align: center;
}

#playcontainer {
  position: absolute;
  left: 50%;
}

#boardcanvas {
  display: block;
  background: #2a2a3a;
  position: absolute;
  left: -125px;
  top: 0;
}

#piececanvas {
  display: block;
  position: absolute;
  background: #2a2a3a;
  left: 150px;
  top: 0;
}
